@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

@import url('https://fonts.google.com/specimen/Roboto?preview.text=Roboto&preview.text_type=custom');

* {
  font-family: 'Crete Round', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*

NAVBAR (SECTION 1)

*/

#personal-logo {
  width: 50px;
  height: 50px;
}

#about-me {
  background-color: #3c3a39;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar__burguer {
  color: #fff;
}

/*

ABOUT ME (SECTION 2)

*/

.about-me__info--container {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 120px 24px;
}

.about-me__info--container--title {
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
}

.about-me__info--container--sub-title {
  color: #fff5e1;
  font-family: 'Roboto';
  line-height: 32px;

}
