@import url('https://fonts.google.com/specimen/Poppins?query=pop&preview.text=Im%20greety&preview.text_type=custom');
* {
  font-family: 'Crete Round', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*

NAVBAR (SECTION 1)

*/

#personal-logo {
  width: 50px;
  height: 50px;
}

#about-me {
  background-color: #3c3a39;
  width: 100%;
  min-width: 400px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar__burguer {
  color: #fff;
  font-size: 24px;
}

/*

ABOUT ME (SECTION 2)

*/

.about-me__info--container {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  width: 100%;
  min-width: 400px;
}

.about-me__info--container::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 60%;
  right: 0;
  bottom: 0;
  background-image: url(./assets/Illustration-header.png);
  background-repeat: no-repeat;
  background-size: 270px;
  z-index: 1;
  transform: rotate(0deg);
}

.about-me__info--title {
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  width: 100%;
  min-width: 327px;
}

.about-me__info--sub-title {
  color: #fff5e1;
  font-family: 'Roboto';
  line-height: 32px;
  padding: 8px 0;
}

.about-me__info--para {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  width: 85%;
  min-width: 327px;
}

.about-me__social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-me__logo {
  color: #dbd8d7;
  font-size: 24px;
  padding: 16px 12px;
}
